.weather-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  border-bottom-left-radius: 40px;
  padding: 0.1rem 1.2rem 1rem;
  background-color: #0000007f;
  min-width: 110px;
}

.weather-city {
  text-align: right;
  font-size: 1rem;
  line-height: 1.4rem;
  grid-column: 1 / 3;
}

.weather-city input {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: white;
  max-width: 140px;
  font-size: 1rem;
}

.weather-city-edit {
  padding-left: 1rem;
  font-size: 0.8rem;
}

.weather-city-input {
  padding-left: 1rem;
  font-size: 0.8rem;
  overflow: hidden;
}

.weather-city-check {
  padding-left: 0.2rem;
  font-size: 0.8rem;
  color: green;
}

.weather-aqi {
  font-size: 0.7rem;
  line-height: 1rem;
  grid-column: 1 / 3;
}

.weather-temp {
  grid-column: 2 / 3;
  text-align: right;
  font-size: 2rem;
  line-height: 2.4rem;
}

.weather-icon {
  text-align: right;
  align-self: center;
  grid-column: 1 / 2;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
