.worldclock-main {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: rgba(25, 25, 25, 0.7);
  font-family: "Roboto", sans-serif;
  margin: auto;
  padding: 1rem;
  max-width: 80vw;
  max-height: 95vh;
  overflow: auto;
}

.worldclock-heading {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-align: left;
}

.worldclock-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.worldclock-saved-clocks{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.worldclock-input-block{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

.worldclock-input {
  background: 0;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 1rem;
  min-width: 30%;
}

.worldclock-confirm-button {
  cursor: pointer;
  color: green;
  justify-self: center;
}

.blink {
  color: white;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
}

.worldclock-result {
  align-self: center;
  padding: 0.1rem 3rem;
}
