.todo-container {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}
.todo-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-container ul li.task-item {
  padding: 0.3rem 0;
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
li.task-item .bullet {
  cursor: pointer;
  width: 15px;
  height: 15px;
  background: white;
  display: inline-block;
  border-radius: 33% 67% 65% 35% / 46% 62% 38% 54%;
}
li.task-item .todo-task {
  padding: 0 0.4rem;
  text-align: left;
  letter-spacing: -0.04rem;
  line-height: 1;
}

li.task-item input {
  color: white;
  background: none;
  border: none;
  outline: none;
  padding: 0 0.3rem;
}

.todo-done .todo-task {
  color: rgb(175, 219, 92);
}
.todo-done-tick {
  color: green;
  font-size: 1.2rem;
  position: relative;
  top: -5px;
  animation: rotate 500ms linear;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.new-todo {
  color: white;
  border: 1px solid #393e46;
  border-radius: 20px;
  padding: 0.2rem;
  display: grid;
  grid-template-columns: 20fr 1fr;
  align-items: center;
}
.new-todo input {
  color: white;
  background: none;
  border: none;
  line-height: 1rem;
  font-size: 0.8rem;
  outline: none;
  padding: 0 0.5rem;
}

.todo-add-icon {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.2rem;
}
