body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.app {
  padding: 0.2rem;
  color: white;
  text-align: center;
  background-color: #252a34;
  background-image: url("bg.jpg");
  min-height: 99vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
.app-head {
  display: grid;
  grid-template-columns: repeat(5, minmax(170px, 1fr));
  justify-content: space-between;
}
.app-main {
  display: grid;
  grid-template: auto 1fr / 1fr 3fr 1fr;
  justify-content: center;
  gap: 1rem;
  align-content: center;
}
.app-center {
  display: grid;
  justify-content: center;
  align-content: center;
}
.app-todo {
  display: grid;
  justify-content: center;
  align-content: end;
}
.app-feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  align-content: end;
}

.app-weather {
  justify-self: end;
}
.app-nav-1 {
  grid-column: 1 / span 2;
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app-nav-2 {
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.app-nav-btn {
  align-self: flex-start;
  opacity: 0.7;
  color: white;
  background: 0;
  border: none;
  outline: none;
}
.app-nav-btn:hover {
  opacity: 1;
}

.app-nav-dropdown:hover .app-nav-dropdown-content {
  display: grid;
  grid-template-columns: 1fr;
}

.app-nav-dropbtn {
  cursor: pointer;
}

.app-nav-dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(150, 150, 150, 0.2);
  z-index: 1;
}

.app-nav-dropdown-content .app-nav-btn {
  padding: 0.3rem;
}

.app-nav-dropdown-content .app-nav-btn:hover {
  background-color: rgba(25, 25, 25, 0.8);
}

/* Scroll Bar Style */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
